.loader {
  width:           300px;
  height:          300px;
  background:      #818181;
  border:          1px solid black;
  padding:         10px 30px;
  box-sizing:      content-box;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;
  align-content:   center;
  gap: 30px;
}

.loader-container {
  width:           var(--screen-width);
  height:          var(--screen-height);
  background:      #d9d9d9;
  display:         flex;
  justify-content: center;
  align-items:     center;
  align-content:   center;
}

.progress-line-container {
  width:         100%;
  height:        20px;
  background:    #dadaff;
  border-radius: 4px;
  overflow:      hidden;
  border:        2px solid black;
}

.progress-line {
  width:  0;
  height: 100%;
  background: #666666;
  animation: forwards load 3s;
}

.logo {
  width: 100%;
  border: 1px solid black;
}

.logo > img {
  width: 100%;
  filter: invert(1);
}

@keyframes load {
  from { width: 0; }
  30% { width: 30%; }
  40% { width: 55%; }
  70% { width: 70%; }
  80% { width: 90%; }
  100% { width: 100%; }
}
