<div class="container">
  <div class="left">
    <div class="hor-line" style="background: #9ea09f; top: 0"></div>
    <div class="hor-line" style="background: #ffffff; top: 1px"></div>
    <div class="ver-line" style="background: #000000; right: 0; top: 0"></div>
    <div class="ver-line" style="background: #9ea09f; right: 1px; height: calc(100% - 1px);"></div>
    <div class="ver-line" style="background: #ffffff; right: 2px; height: calc(100% - 1px);"></div>
    <div class="hor-line" style="background: #000000; bottom: 0; left: -2px; width: calc(100% + 2px);"></div>
  </div>
  <div class="right">
    <img src="assets/browser/bottom-bar-icon.svg">
  </div>
</div>
