.page-container {
  position:            absolute;
  display:             none;
  flex-direction:      column;
  transform:           scale(0);
  transform-origin:    center;
  min-width:           300px;
  min-height:          100px;
  width:               100px;
  height:              100px;
  background:          white;
  top:                 100px;
  left:                100px;
  transition-property: transform;
  transition-duration: var(--fast-transition-time);
  z-index:             100;
  overflow:            auto;
}

.top-bar {
  position:   absolute;
  top:        0;
  left:       0;
  height:     18px;
  width:      100%;
  cursor:     pointer;
  background: transparent;
  z-index:    300;
}

.full {
  width:          100%;
  height:         100%;
  border:         1px solid black;
  display:        flex;
  flex-direction: column;
}

.content {
  width:          100%;
  height:         100%;
  display:        flex;
  flex-direction: row;
  border-top: 2px solid #585858;
}

.page-content {
  border: 1px solid #585858;
  height: 100%;
  width: 100%;
  border-top: none;
}

.border {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding:  2px 0 1px 3px;
}

.border > .background {
  position: absolute;
  top:      0;
  left:     0;
  right:    0;
  bottom:   0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #585858;
}

.border > .background > .ver-line {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
}

.border > .background > .hor-line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
}
