<main
  (click)="ChoosePage()"
  class="page-container"
  #page_container
>
  <div class="top-bar" #top_bar></div>
  <div class="full">
    <div class="full" style="border-color: #adadad">
      <div class="full" style="border-color: white;">
        <div class="full" style="border-color: #adadad">
          <div class="full" style="border-color: #d9d9d9">
            <app-browser-top-bar [page_id]="page.id!" [page_name]="page.name!"></app-browser-top-bar>
            <div class="border">
              <div class="background">
                <div class="hor-line" style="background: black; top: 1px;"></div>
                <div class="ver-line" style="background: black; left: 0"></div>
                <div class="ver-line" style="background: #e5e5e7; left: 1px;"></div>
                <div class="ver-line" style="background: #f8f8fa; left: 2px;"></div>
                <div class="hor-line" style="background: #d9d9d9; bottom: 0;"></div>
                <div class="hor-line" style="background: #7f8082"></div>
              </div>
              <div class="content-container">
                <app-browser-address-container *ngIf="page.name !== 'games'" [page_name]="page.name!"></app-browser-address-container>
                <div class="content">
                  <div class="page-content" [style.height]="this.getPageContentHeight()" #scroll_container>
                    <app-service-page [page]="page"></app-service-page>
                  </div>
                  <app-browser-scrollbar style="height: 100%;"></app-browser-scrollbar>
                </div>
              </div>
              <app-browser-bottom-bar (output_size)="ResizeListener($event)" [page]="page"></app-browser-bottom-bar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
