<div class="content">
  <p class="link" routerLink="">Shop</p>
  <p class="link" routerLink="contact">Contacts</p>
  <p class="link" routerLink="about-us">About us</p>
  <p class="link" routerLink="service">Service</p>
  <p class="link" routerLink="basket">Basket</p>
</div>
<div class="content2">
  <a routerLink=""><img class="logo2" src="assets/logo-inline.png"></a>
  <svg (click)="interact()" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30" height="30" viewBox="0 0 24 24">
      <path d="M20.25 12.75H3.75a.75.75 0 0 1 0-1.5h16.5a.75.75 0 0 1 0 1.5zM20.25 7H3.75a.75.75 0 0 1 0-1.5h16.5a.75.75 0 0 1 0 1.5zM20.25 18.5H3.75a.75.75 0 0 1 0-1.5h16.5a.75.75 0 0 1 0 1.5z" fill="white"/>
  </svg>
</div>
