.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  @media screen and (max-width: 1089px) {
    height: calc(100vh - 300px);
  }
}

.content > p {
  font-size: 15px;
  text-align: center;
}
