.flex-container {
    width:           100%;
    display:         flex;
    flex-direction:  row;
    justify-content: center;
}

* {
    text-decoration: white;
}

.arrow {
    border:            solid black;
    border-width:      0 3px 3px 0;
    display:           inline-block;
    padding:           3px;
    transform:         rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.card {
    min-height:      100px;
    height:          fit-content;
    padding:         10px;
    width:           100%;
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
    border:          1px solid black;
    @media screen and (max-width: 1089px) {
        border:        1px solid white;
        border-radius: 8px;
    }
}

.card-content {
    width:          fit-content;
    height:         100%;
    display:        flex;
    flex-direction: row;
    align-items:    center;
    gap:            30px;
}

.card-content img {
    height: 80px;
    @media screen and (max-width: 1089px) {
        border-radius: 8px;
    }
}

.buttons {
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    gap:             20px;
    align-items:     center;
    align-content:   center;

}

.btn2 {
    background:          black;
    border-radius:       100px;
    border:              none;
    width:               25px;
    height:              25px;
    color:               white;
    font-size:           15px;
    transition-duration: .3s;
    display:             flex;
    flex-direction:      row;
    justify-content:     center;
    align-items:         center;
    align-content:       center;

    @media screen and (max-width: 1089px) {
        background: white;
        color:      black;
    }
}

.btn {
    background:          black;
    border-radius:       8px;
    border:              none;
    color:               white;
    padding:             10px 20px;
    width:               100%;
    max-width:           400px;
    display:             flex;
    flex-direction:      row;
    justify-content:     center;
    font-size:           15px;
    transition-duration: .3s;
    margin-bottom:       30px;
    @media screen and (max-width: 1089px) {
        background: white;
        color:      black;
    }
}

.btn:hover {
    background: #3c3c3c;
}

.final-price {
    display:         flex;
    flex-direction:  column;
    gap:             20px;
    align-items:     flex-end;
    justify-content: flex-end;
    width:           100%;
    padding:         0px 0;
    font-size:       20px;
}

.content {
    margin-top:      30px;
    @media screen and (min-width: 1089px) {
        margin-top:      10px;
    }
    width:           100%;
    display:         flex;
    padding:         10px;
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:     center;
    gap:             20px;
}

.products {
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:     center;
}

.delivery-form {
    flex: 1 1 200px;
    border: 1px solid black;
    min-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 1089px) {
        border: 1px solid white;
    }

    label {
        width: 100%;
        max-width: 400px;

        input {
            width: 100%;
            padding: 5px 10px;
            font-size: 15px;
            border-radius: 0;
            border: 2px solid black;
            @media screen and(max-width: 1089px) {
                border: 2px solid white;
                border-radius: 8px;
            }
        }
    }
}

.purchase {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.back-bar {
    padding:         5px 10px;
    flex-direction:  row;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    a { text-decoration: none; }
    .back-mobile { display: none; }
    @media screen and (max-width: 1089px) {
        margin-top: 0;
        .back-mobile { display: block; }
        .back { display: none; }
    }
}