<div class="top-bar">
  <a (click)="backClicked()">
    <p class="back"><i class="arrow left"></i> Back</p>
  </a>
</div>

<div class="content">
  @if (getFinalPrice() === 0) {
    <div class="flex-container">
      <p>Корзина пуста</p>
    </div>
  } @else {
    @for (product of service.products; track service.products; let index = $index) {
      @for (size of sizes; track sizes) {
        @if (counts[index][size] !== 0) {
          <div class="card">
            <div class="card-content">
              <img [src]="product.src" alt="">
            </div>
            <div style=" width: 100%; display: flex; flex-direction: row; gap: 10px 30px; align-content: center; align-items: center; justify-content: flex-end; flex-wrap: wrap">
              <div style="display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap; justify-content: flex-end">
                <p style="text-align: end">{{ product.name }} ({{ size }})</p>
                <p class="el-price">{{ product.price * counts[index][size] }}₽</p>
              </div>
              <div class="buttons">
                <button (click)="remove(index, size)" class="btn2">-</button>
                <p>{{ counts[index][size] }}</p>
                <button (click)="add(index, size)" class="btn2">+</button>
              </div>
            </div>
          </div>
        }
      }
    }

<!--     <div class="delivery-form"> -->
<!--       <p>Заполните форму для расчета стоимости доставки</p> -->
<!--       <label> -->
<!--         <p>ФИО заказчика</p> -->
<!--         <input [(ngModel)]="deliveryFIO" type="text"> -->
<!--       </label> -->

<!--       <label> -->
<!--         <p>Телефон заказчика</p> -->
<!--         <input [(ngModel)]="deliveryPhone" type="tel"> -->
<!--       </label> -->

<!--       <label> -->
<!--         <p>Почта заказчика</p> -->
<!--         <input [(ngModel)]="deliveryEmail" type="email"> -->
<!--       </label> -->

<!--       <label> -->
<!--         <p>Адрес доставки</p> -->
<!--         <input [(ngModel)]="deliveryAddress" type="text"> -->
<!--       </label> -->

<!--       <button (click)="getDeliveryPrice()">Рассчитать</button> -->
<!--     </div> -->

    <div style="width: 100%; display: flex; flex-direction: row; gap: 10px; flex-wrap: wrap; justify-content: flex-end">
      <p style="text-align: end">Доставка</p>
      <p class="el-price">600₽</p>
    </div>

    <div class="final-price">
      <p>Суммарная стоимость: <b>{{ getFinalPrice() }}₽</b></p>
    </div>

    <button class="btn"><b>Оформить заказ</b></button>

    <div id="payment-form"></div>
  }
</div>
