<div class="top-bar">
  <a routerLink="">
    <p class="back"><i class="arrow left"></i> Back</p>
  </a>
  <a routerLink="/basket"><img class="img" src="assets/icons/store.icon.svg" alt=""></a>
</div>

<div class="content">
  <swiper-container class="mySwiper" pagination-clickable="true" loop="true" pagination="true">
    <swiper-slide><img class="swiper-image" [src]="product.images[0]"></swiper-slide>
    <swiper-slide><img class="swiper-image" [src]="product.images[1]"></swiper-slide>
    <swiper-slide><img class="swiper-image" [src]="product.images[2]"></swiper-slide>
  </swiper-container>

  <div class="desc">
    <p>Размеры:
      <span class="desc-button" [class.chosen]="chosen_type === 'S'" (click)="chooseType('S')">S</span>
      <span class="desc-button" [class.chosen]="chosen_type === 'M'" (click)="chooseType('M')">M</span>
      <span class="desc-button" [class.chosen]="chosen_type === 'L'" (click)="chooseType('L')">L</span>
      <span class="desc-button" [class.chosen]="chosen_type === 'XL'" (click)="chooseType('XL')">XL</span>
    </p>
    <p>Сделана из 100% хлопка плотностью 250 г/м². Выглядит до боли обычной, пока не заметишь монету на спине. Кстати, её можно снять и прикрепить обратно, она на липучке.</p>

      <p style="margin-top: 10px!important;" class="price">Стоимость: {{ product.price }}₽</p>
      @if (count[chosen_type] == 0 && product.valid) {
      <button style="margin-top: 10px!important;" (click)="add()" class="basket btn">в корзину</button>
      } @else if (product.valid) {
      <div style="margin-top: 10px!important;" class="buttons">
        <button (click)="remove()" class="btn2">-</button>
        <p>{{ count[chosen_type] }}</p>
      <button (click)="add()" class="btn2">+</button>
    </div>
    <a routerLink="/basket" style="margin-top: 5px;">
      <button class="basket btn">К покупкам</button>
    </a>
      }
  </div>
</div>
