.content {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: stretch;
  align-content: stretch;
  padding-bottom: 1vh;
}

.content {
  @media screen and (max-width: 1089px) {
    display: flex;
    flex-direction: column;
    padding: 0 50px 1vh 50px;
    align-content: center;
    align-items: center;
  }
}

.card {
  width: 100%;
  max-width: 300px;
}

.card > img {
  width: 100%;
}

.card > p {
  text-transform: uppercase;
  text-align: center;
}

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-top: 10px;

  @media screen and (max-width: 1089px) {
    display: none;
  }
}

.icon {
  height: 20px;
  width: 20px;
  transition-duration: .3s;
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-sizing: content-box;
}

.icon:hover {
  filter: brightness(.8);
}
