.scrolling-container {
  height:     calc(100% - 80px);
  overflow-y: scroll;

  @media screen and (max-width: 500px) {
    height: calc(100% - 80px);
  }
}

.scrolling-content {
  width:  100%;
  height: fit-content;
  padding: 20px;
  min-height: 100%;
}
