.screen-container {
  width:    var(--screen-width);
  height:   calc(var(--screen-height) - var(--top-bar-height));
  position: relative;
}
.background-img {
  width:    var(--screen-width);
  height:   calc(var(--screen-height) - var(--top-bar-height));
  position: absolute;
  top:      0;
  left:     0;
}

