<div class="top-bar">
  <p [class.chosen-text]="index === 1" class="tb-text" (click)="index = 1">EN</p>
  <p>/</p>
  <p [class.chosen-text]="index === 0" class="tb-text" (click)="index = 0">RU</p>
</div>
<div class="content">
  @for (text of texts[index]; track index; let i = $index) {
    @if (i % 2 == 0) {
      <div class="question">
        <p>
          {{ text }}
        </p>
      </div>
    } @else {
      <div style="display: block" [class.opened-card]="true" class="card" #card>
        <p>{{text}}</p>
      </div>
    }
  }
</div>
