<div class="top-bar">
  <p [class.chosen-text]="index === 1" class="tb-text" (click)="index = 1">EN</p>
  <p>/</p>
  <p [class.chosen-text]="index === 0" class="tb-text" (click)="index = 0">RU</p>
</div>
<div class="content">
  @for (text of texts[index]; track index; let i = $index) {
    @if (i % 2 == 0) {
      <div class="question">
        <p>
          {{ text }}
          <svg (click)="interact(i/2)" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15" viewBox="0 0 24 24">
            <path d="M12 24C5.383 24 0 18.617 0 12S5.383 0 12 0s12 5.383 12 12-5.383 12-12 12zm0-22.5C6.21 1.5 1.5 6.21 1.5 12S6.21 22.5 12 22.5 22.5 17.79 22.5 12 17.79 1.5 12 1.5z"/>
            <path d="M17.25 12.75H6.75a.75.75 0 0 1 0-1.5h10.5a.75.75 0 0 1 0 1.5z"/>
            @if (i == 0) {
              <path class="close" style="transform: rotate(90deg);" d="M12 18a.75.75 0 0 1-.75-.75V6.75a.75.75 0 0 1 1.5 0v10.5A.75.75 0 0 1 12 18z" #icon/>
            } @else {
              <path class="close" d="M12 18a.75.75 0 0 1-.75-.75V6.75a.75.75 0 0 1 1.5 0v10.5A.75.75 0 0 1 12 18z" #icon/>
            }
          </svg>
        </p>
      </div>
    } @else {
      @if (i == 1) {
        <div style="display: block" [class.opened-card]="opened[(i-1)/2]" class="card" #card>
          <p>{{text}}</p>
        </div>
      } @else {
        <div [class.opened-card]="opened[(i-1)/2]" class="card" #card>
          <p>{{text}}</p>
        </div>
      }
    }
  }
</div>
