p {
    line-height: 110%;
}

.content {
    min-height:      calc(100% - 35px);
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
    padding:         0 10px 10px;
}

.question > p > svg {
    transform: translateY(calc((19.5px - 15px) / 2));
}

.question {
    margin-top:      10px;
    box-sizing:      border-box;
    font-weight:     600;
    display:         flex;
    flex-direction:  row;
    width:           100%;
    justify-content: flex-start;
    align-content:   center;
    align-items:     center;
    z-index:         2;
    margin-bottom:   5px;
}

.card {
    width:               100%;
    box-sizing:          content-box;
    overflow-y:          hidden;
    transition-duration: .3s;
    transform-origin:    top;
    padding:             0;
    z-index:             1;
}

.close {
    transform-origin:    center;
    transition-duration: .3s;
}

.top-bar {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    padding:         5px 10px;
    gap:             3px;
    a { text-decoration: none; }
    .back-mobile { display: none; }
    @media screen and (max-width: 1089px) {
        display: flex;
        .back-mobile { display: block; }
        .back { display: none; }
    }
}

.chosen-text {
    color: black !important;

    @media screen and (max-width: 1089px) {
        color: white !important;
    }
}

.top-bar > p {
    font-size:           15px;
    font-weight:         600;
    transition-duration: .3s;
    cursor:              pointer;
    color:               #b3b3b3;
}

.ip-text {
    margin-top: 30px !important;
    font-size:  13px;
}