.screen-container {
  width:          var(--screen-width);
  height:         var(--screen-height);
  border-radius:  var(--screen-outer-corner-radius);
  overflow: hidden;
}

.turned-off {
  width: 100%;
  height: 100%;
}

.loading {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items:    center;
  align-content:  center;
  justify-content: center;
}

.loaded {
  width: 100%;
  height: 100%;
  display:        none;
  flex-direction: column;
  align-items:    center;
  align-content:  center;
}
